#Docker env 
POSTGRES_USER=username
POSTGRES_PASSWORD=password 
POSTGRES_DB=auction

POSTGRES_URL=postgres://postgres:password@postgres:5432/auction?sslmode=disable
REDIS_URL=redis://redis:6379
JWT_KEY=your-secret-here

#Local env

POSTGRES_URL=postgres://postgres:password@postgres:5432/auction
REDIS_URL=redis://localhost:6379
JWT_KEY=your-secret-here
